
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.xml
*.svn-base
*.class
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/out/production/CSSE2002_Assignment1/tms/display/SimpleDisplay.class
/out/production/CSSE2002_Assignment1/tms/intersection/Intersection.class
/out/production/CSSE2002_Assignment1/tms/route/Route.class
/out/production/CSSE2002_Assignment1/tms/route/TrafficSignal.class
/out/production/CSSE2002_Assignment1/tms/sensors/DemoPressurePad.class
/out/production/CSSE2002_Assignment1/tms/sensors/DemoSensor.class
/out/production/CSSE2002_Assignment1/tms/sensors/DemoSpeedCamera.class
/out/production/CSSE2002_Assignment1/tms/util/RouteNotFoundException.class
/out/production/CSSE2002_Assignment1/tms/display/SimpleDisplay.class
/out/production/CSSE2002_Assignment1/tms/display/SimpleDisplay.class
